{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evviva Django</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static 'lezioni/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
        <h1>Lista corsi</h1>

        {% for corso in corsi %}
            <div class="col-lg-4">
                <a href="{% url 'lezioni' corso.pk %}">
                    <div class="corso">
                        <h2>{{corso.titolo}}</h2>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    </div>
</body>
</html>


