{% extends 'base.html' %}

{% block page_title %}{{lezione}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h2>Presenze</h2>

<form method="PoSt">

    {% csrf_token %}
    <ul id="presenze">
        {% for iscrizione in lezione.materia.modulo.corso.iscrizioni.all %}
        <li>
            <input type="checkbox" name="presente" value="{{iscrizione.persona.pk}}" id="ciccio-{{forloop.counter}}" {% if iscrizione.persona in persone_presenti %} checked{% endif %}>
            <label for="ciccio-{{forloop.counter}}">{{iscrizione.persona}}</label>
        </li>
        {% endfor %}
    </ul>
    <input class="btn btn-success" type="submit" name="salva-presenze" value="Invia">

</form>

Presenze: 
<code>{{persone_presenti}}</code>


        </div>
        <div class="col-lg-6">

            <hr>

<form method="post" novalidate>
    {% csrf_token %}
    <table class="table">
        {{form.as_table}}
    </table>
    <input type="submit" name="salva-dettagli" value="Salva" class="btn btn-success">
</form>

            <hr>

            <h1>Data: {{lezione.data|date:'j/n/Y'}}</h1>

            <p>Tipo lezione: <strong>{{lezione.get_tipologia_display}}</strong></p>
            <p>Materia: <strong>{{lezione.materia}}</strong></p>
            <p>Argomento: <strong>{{lezione.argomento}}</strong></p>
            <p>Dalle <strong>{{lezione.ora_inizio|default:'--:--'}}</strong> alle <strong>{{lezione.ora_fine|default:'--:--'}}</strong></p>
            <p>Durata: {{lezione.durata}}</p>

            <p>Firma del docente ({{ lezione.materia.docente }})  __________________</p>
        </div>
    </div>
{% endblock %}
