{% extends 'base.html' %}

{% block page_title %}{{lezione}}{% endblock %}


{% block breadcrumbs %}

{% with corso=lezione.materia.modulo.corso %}
<div id="breadcrumbs">
    <div class="container">
        <a href="{% url 'corsi' %}">Corsi</a> ›
        <a href="{% url 'lezioni' corso.pk %}">{{corso}}</a> ›
        <strong>{{lezione}}</strong>
    </div>
</div>
{% endwith %}

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h2>Presenze</h2>

<form method="PoSt">

    {% csrf_token %}
    <ul id="presenze">
        {% for iscrizione in lezione.materia.modulo.corso.iscrizioni.all %}
        <li>
            <input type="checkbox" name="presente" value="{{iscrizione.persona.pk}}" id="ciccio-{{forloop.counter}}" {% if iscrizione.persona in persone_presenti %} checked{% endif %}>
            <label for="ciccio-{{forloop.counter}}">{{iscrizione.persona}}</label>
        </li>
        {% endfor %}
    </ul>
    <input class="btn btn-success" type="submit" name="salva-presenze" value="Invia">

</form>


<nav class="mt-4 text-center">
    <a {% if lezione.precedente %} href="{% url 'dettaglio_lezione' lezione.precedente.pk %}"{% endif %} class="btn {% if lezione.precedente %}btn-dark{% else %}invisible{% endif %}" title="{{lezione.precedente}}">&larr;</a>
    <a {% if lezione.prossima %} href="{% url 'dettaglio_lezione' lezione.prossima.pk %}"{% endif %} class="btn {% if lezione.prossima %}btn-dark{% else %}invisible{% endif %}" title="{{lezione.prossima}}">&rarr;</a>
</nav>

        </div>
        <div class="col-lg-6">

            <hr>

<form method="post" novalidate>
    {% csrf_token %}
    <table class="table">
        {{form.as_table}}
    </table>
    <input type="submit" name="salva-dettagli" value="Salva" class="btn btn-success">
</form>

            <hr>

            <h1>Data: {{lezione.data|date:'j/n/Y'}}</h1>

            <p>Tipo lezione: <strong>{{lezione.get_tipologia_display}}</strong></p>
            <p>Materia: <strong>{{lezione.materia}}</strong></p>
            <p>Argomento: <strong>{{lezione.argomento}}</strong></p>
            <p>Dalle <strong>{{lezione.ora_inizio|default:'--:--'}}</strong> alle <strong>{{lezione.ora_fine|default:'--:--'}}</strong></p>
            <p>Durata: {{lezione.durata}}</p>

            <p>Firma del docente ({{ lezione.materia.docente }})  __________________</p>
        </div>
    </div>
{% endblock %}
