{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h1>Lista lezioni</h1>
        <h2>{{corso}}</h2>
    <table class="table">
        <tr>
            <th>Data</th>
            <th>Materia</th>
            <th>Argomento</th>
        </tr>
    {% for lezione in lezioni %}
        <tr>
            <td><a href="{% url 'dettaglio_lezione' lezione.pk %}">{{lezione.data}}</a></td>
            <td>{{lezione.materia}}</td>
            <td>{{lezione.argomento}}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock content %}
