{% extends 'base.html' %}

{% block breadcrumbs %}
<div id="breadcrumbs">
    <div class="container">
        <a href="{% url 'corsi' %}">Corsi</a> › <strong>{{corso}}</strong>
    </div>
</div>
{% endblock %}



{% block content %}

<a href="?excel" class="btn btn-success">Esporta in Excel</a>

<div class="row">
    <h1>Lista lezioni</h1>
        <h2>{{corso}}</h2>
    <table class="table">
        <tr>
            <th>Data</th>
            <th>Materia</th>
            <th>Inizio, fine</th>
            <th>Durata</th>
            <th>Presenze</th>
        </tr>
    {% for lezione in lezioni %}
        <tr>
            <td><a href="{% url 'dettaglio_lezione' lezione.pk %}">{{lezione.data}}</a></td>
            <td>{{lezione.materia}}</td>
            <td>{{lezione.ora_inizio}} — {{lezione.ora_fine}}</td>
            <td>{{lezione.durata}}</td>
            <td>{{lezione.presenze.count}}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock content %}
