<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evviva Django</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .corso{
            background-color: #2d2d6a;
            height: 600px;
            padding: 100px 30px;
            box-shadow: 0 0 20px #666;
        }
        .corso h2{
            background-color: #fff;
            padding: 15px;
            border-radius: 15px;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <div class="row">
        <h1>Lista lezioni</h1>
            <h2>{{corso}}</h2>
        <table class="table">
            <tr>
                <th>Data</th>
                <th>Materia</th>
                <th>Argomento</th>
            </tr>
        {% for lezione in lezioni %}
            <tr>
                <td>{{lezione.data}}</td>
                <td>{{lezione.materia}}</td>
                <td>{{lezione.argomento}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    </div>
</body>
</html>


