.corso{
    background-color: #2d2d6a;
    height: 600px;
    padding: 100px 30px;
    box-shadow: 0 0 20px #666;
}
.corso h2{
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
}

header {
    margin-bottom: 30px;
    padding: 20px 0;
    background: rgb(177,204,221);
background: linear-gradient(90deg, rgba(177,204,221,1) 0%, rgba(212,237,168,1) 100%);
}

header img {
    height: 100px;
    padding: 8px;
    background: #fff;
}